h2, #grupo {
    color: #9f9f9f;
}

li {
    color: #f5ffaa;
}

#titulo {
    margin-top: 18px;
}



/*BARRA DE NAVEGACION*/
#navbar {
	background-color: #2b2e44;
}

#main-nav {
	display: flex;
	list-style: none;
	font-family: 'Lato', sans-serif;
}
#main-nav li a {
	color: #fff;
	text-decoration: none;
	padding: 25px 0.9em;
	display: inline-block;
}

#main-nav li a:hover {
	background-color: #060829;
}





/*PIE DE PAGINA*/
footer {
	background-color: #121018;
}

footer ul {
	margin: 20px 0;
}
footer li {
	list-style: none;
	padding: 5px 0;
}
footer div div ul li a {
	text-decoration: none;
	color: #9f9f9f;
	font-size: 0.88rem;
}

#social {
    margin-top: 80px;
	text-align: center;
}
#social a i {
	color: #fff;
	font-size: 2.5rem;
	margin-left: 1.5em;
}
#copyright {
	color: #9f9f9f;
	text-align: center;
	font-size: 0.8rem;
	border-top: 1px solid #272323;
	padding: 12px 0;
}



